.DS_Store
/.go/
/go.work
/go.work.sum
/md-go-validator
/dist/
# Dependencies
node_modules/
Test coverage
/coverage
Copy/paste detection report
/report/jscpd-report.json
# Sensitive files
*.db
# Nix build output
/result